
@media (max-width: 1025px) {

  .container {
    padding: 30px 0;
  }

  .example-image, .example-image2 {
    width: 250px;
  }

  
  .sp-br {
    display: block;
  }
  
}

@media (max-width: 800px) {
  .title {
    width: 50%;
  }
}


@media (max-width:670px) {    
  .page-header {
    height: 48px;
  }

  .message-wrapper {
    padding: 70px 5%;
  }

  .message-wrapper h2 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 35px;
    text-align: left;
  }
  
  .message-wrapper h3 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: left;
  }

  .example-image, .example-image2 {
    width: 200px;
  }

  .feature-container {
    flex-direction: column;
  }

  .feature h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .feature-contents h3 {
    font-size: 28px;
    line-height: 20px;
    margin: 20px 0;
  }

  .feature-contents p {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .detail p {
    font-size: 20px;
  }
  
  .example-image, .example-image2 {
    width: 200px;
  }

  .example-image2 {
    margin-right: 0%;
  }

   
  .desc h3, .desc2 h3 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  
  .desc p, .desc2 p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 29px;
  }

  .feature h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 16px;
  }

  .feature-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-contents h3 {
    font-size: 24px;
    line-height: 20px;
    margin: 20px 0;
  }
  
  .feature-contents p {
    font-size: 18px;
  }

  .set {
    margin: 20px 0;
  }
 
  .arrow-icon {
    transform:rotate(90deg);
    margin: 30px 0;
  }

  .detail p {
    font-size: 14px;
  }
}

@media (min-width: 481px) {
  .example2 .container {
    flex-direction: row-reverse;
    margin-left: 5%;
  }

}

@media (max-width: 480px) {
  .title {
    width: 300px;
    top: 55%;
    left: 50%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .page-footer {
    text-align: left;
  }

  .footer-navi {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-navi li {
    margin: 0 0 5px 15px;
  }

  .sns-container {
    display: flex;
    justify-content: flex-start;
  }

  .sns-icons {
    width: 25px;
    height: 25px;
  }
}


  

 
 