@charset "UTF-8";

/* 共通部分
---------------------------- */
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif, "Roboto", sans-serif;
  color: #5A5453;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* ヘッダー
----------------------------- */

.logo {
  width: 150px;
  padding-top: 5px;
}

.page-header {
  height: 65px;
  width: 100%;
  background-color: #FFF6F3;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position :fixed;
  top: 0;
  z-index: 10;
}

/* ボタン */
 .pc-button {
  background: #FA8072;
  color: white;
  border-radius: 15px;
  text-align: center;
  padding: 5px 20px;
  font-size: 20px;
}

/*　タイトル部分
----------------------------------------- */
.top-wrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/top.JPG);
  position: relative;
}

.title {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
}

/*　クルミノは
----------------------------------------- */

.message-wrapper {
  padding: 100px 0 100px 0;
  padding-left: 5%;
  padding-right: 5%;
}

.message-wrapper h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
  margin-bottom: 46px;
}

.message-wrapper h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 35px;
}

.clear {
  clear: left;
}

/* 例えば・・・
----------------------------------------- */

.example1 {
  background-color: #FDEDEC;
  letter-spacing: 0.025em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.example-image, .example-image2 {
  width: 350px;
}


.desc, .desc2 {
  display: flex;
  flex-direction: column;
}

.desc h3, .desc2 h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 35px;
}

.desc p, .desc2 p {
  line-height: 29px;
}

.example2 {
  background-color: #F4F4F4;
  letter-spacing: 0.025em;
  align-items: center;
}

.example3 {
  background-color: #F4ECEA;
  letter-spacing: 0.025em;
}

.sp-br {
  display: none;
}


/*　クルミノの楽しみ方
----------------------------------------- */

.feature {
  padding: 60px 0;
  padding-left: 5%;
  padding-right: 5%;
}

.feature h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 24px;
}

.feature-contents {
  text-align: center;
}


.feature-image {
  width: 120px;
}

.feature-contents h3 {
  font-size: 24px;
  line-height: 20px;
  margin: 40px 0;
}

.feature-contents p {
  font-size: 16px;
}

.detail {
  padding-top: 12px;
}

.detail p {
  font-size: 14px;
  margin: 12px 0;
  text-align: start;
}

.arrow-icon {
  margin: 155px 10px 0 10px;
}

/* フッター
----------------------------------------- */

.page-footer {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  color: white;
  background-color: #FA8072;
}

.footer-navi {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 30px;
}


.footer-navi li {
  font-size: 14px;
  margin: 0 15px 10px 15px;
}


.sns-container {
  display: flex;
  justify-content: center;
}

.sns-icons {
  margin: 40px 15px;
}

footer p {
  font-size: 12px;
  padding-bottom: 30px;
}

.tb-br {
  display: none;
}